<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechShop - Καλώς Ήρθατε</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></head>
<body>
    <header>
        <nav>
            <div class="logo"><i class="fas fa-laptop-code"></i> TechShop</div>
            <div class="menu-toggle"><i class="fas fa-bars"></i></div>
            <div class="nav-links">
                <a href="/">Homepage</a>
                <div class="dropdown">
                    <a href="/products" class="dropbtn">Products</a>
                    <div class="dropdown-content">
                        <a href="/products?category=products">All Products</a>
                        <a href="/products?category=smartphones">Smartphones</a>
                        <a href="/products?category=laptops">PCs & Laptops</a>
                        <a href="/products?category=tablets">Tablets</a>
                        <a href="/products?category=camera">Camera</a>
                        <a href="/products?category=printers">Printers & Ink</a>
                        <a href="/products?category=tv">TV</a>
                        <a href="/products?category=wearables">Wearables</a>
                        <a href="/products?category=audio">Audio</a>
                        <a href="/products?category=accessories">Phone Accessories</a>
                        <a href="/products?category=accessories">Computer Accessories</a>
                        <a href="/products?category=accessories">Tablet Accessories</a>
                        <a href="/products?category=accessories">Camera Accessories</a>
                        <a href="/products?category=accessories">TV Accessories</a>
                        <a href="/products?category=accessories">Wearable Accessories</a>
                    </div>
                </div>
                
            </div>
        </nav>
    </header>

    <section class="hero">
        <div id="slideshow-container"></div> <!-- ΕΔΩ θα μπουν δυναμικά -->
        <div class="hero-content">
            <h1>New Arrival: Next-Gen Smartphones</h1>
            <p>Discover the best Offers now</p>
            <a href="/products" class="btn">Check it out</a>
        </div>
    </section>

    <footer>
        <div class="footer-container">
            <div class="footer-col">
                <h3>TechShop</h3>
                <p>Best Prices in Electronical Devices</p>
            </div>
            <div class="footer-col">
                <h3>Contact</h3>
                <p><i class="fas fa-map-marker-alt"></i> CSD Auth, Thessaloniki</p>
                <p><i class="fas fa-envelope"></i> info@techshop.gr</p>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2025 TechShop | Developed by Papadopoulou Ourania, Bouzouki Polyxeni, Chrysostomos Koubanis, Konstantinos Trygoutis</p>
        </div>
    </footer>

<script src="static/js/javascript.js"></script>
</body>
</html>