<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechShop - Καλώς Ήρθατε</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></head>
<body>
    <header>
        <nav>
            <div class="logo"><i class="fas fa-laptop-code"></i> TechShop</div>
            <div class="menu-toggle"><i class="fas fa-bars"></i></div>
            <div class="nav-links">
                <a href="/">Αρχική</a>
                <div class="dropdown">
                    <a href="/products" class="dropbtn">Προϊόντα</a>
                    <div class="dropdown-content">
                        <a href="/products?category=laptops">Laptops</a>
                        <a href="/products?category=smartphones">Smartphones</a>
                        <a href="/products?category=tablets">Tablets</a>
                        <a href="/products?category=accessories">Αξεσουάρ</a>
                    </div>
                </div>
                
                <a href="#">Επικοινωνία</a>
            </div>
        </nav>
    </header>

    <section class="hero">
        <div id="slideshow-container"></div> <!-- ΕΔΩ θα μπουν δυναμικά -->
        <div class="hero-content">
            <h1>Νέα Άφιξη Smartphones</h1>
            <p>Ανακαλύψτε τις καλύτερες προσφορές της σεζόν</p>
            <a href="/products" class="btn">Δείτε Τώρα</a>
        </div>
    </section>

    <footer>
        <div class="footer-container">
            <div class="footer-col">
                <h3>TechShop</h3>
                <p>Οι καλύτερες τιμές σε ηλεκτρονικές συσκευές</p>
            </div>
            <div class="footer-col">
                <h3>Επικοινωνία</h3>
                <p><i class="fas fa-map-marker-alt"></i> CSD Auth, Θεσσαλονίκη</p>
                <p><i class="fas fa-envelope"></i> info@techshop.gr</p>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2025 TechShop | Developed by Papadopoulou Ourania, Bouzouki Polyxeni, Chrysostomos Koubanis, Konstantinos Trygoutis</p>
        </div>
    </footer>

<script src="static/js/javascript.js"></script>
</body>
</html>